# Compiler files
cache/
out/
abi/
abi-ts/ 

# Ignores development broadcast logs
/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

/node_modules

# Docs
docs/

# Dotenv file
.env
lib/
lib/prb-math/
jumble-cash-sdk/node_modules/
jumble-cash-sdk/dist/
jumble-cash-sdk/.env