# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
lib/
jump-cash-sdk/node_modules/
jump-cash-sdk/dist/
jump-cash-sdk/.env
